:root {
    --border-radius: 15px;
    --text-align: center;

}

/* high score and timer stylying */


/* Quiz intro styling */
quizRules {

}

/*question box styling */
.questionBox {
    text-align: var(--text-align);
    border-radius: var(--border-radius);

}


/*answer box styling */
.answerChoices {
    border-radius: var(--border-radius);
    width: 40%;
    font-size: 26px; 
    background-color: #2a9fbe; 
    padding: 30px;
    margin: 100px auto;
}

/*button styling */
.answerChoices li button {
    font-size: 22px;
    margin-bottom; 10px;
    border-radius: var(--border-radius);
}

/* timer styling */
#countdown {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* high score page styling */