:root {
    --border-radius: 15px;
    --text-align: center;

}

/* high score and timer stylying */
#scores.scores {
    display: flex;
    justify-content: center;
}

/* Quiz intro styling */

quizRules {
    text-align: var(--text-align);
    border-radius: var(--border-radius);
    background: #8DF7B7;
    border: 5px dashed black;
    display: flex;
    align-items: center;
    flex-direction: column;

}

/*question box styling */
.questionBox {
    text-align: var(--text-align);
    border-radius: var(--border-radius);
    width: 60%;
    background-color: #F6AC9C;
    margin: 0 auto;
 }

 .scoreDisplay ol {
    text-align: center;
}

.scoreDisplay ol li {
    font-size: 22px;
    margin-bottom: 10px;
    border-radius: var(--border-radius);
}

quizButton {
    display: flex;
    justify-content: center;
}

#quizStart {
    border-radius: var(--border-radius);
    margin-bottom: 10px;
}

/*answer box styling */
.answerChoices {
    border-radius: var(--border-radius);
    width: 40%;
    font-size: 26px; 
    background-color: #2a9fbe; 
    padding: 30px;
    margin: 50px auto;
}

/*button styling */
.answerChoices li button {
    font-size: 22px;
    margin-bottom: 10px;
    border-radius: var(--border-radius);
}

/* timer styling */
#countdown {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* high score page styling */